[defaults]
inventory          = inventory/hosts.yml
remote_user        = k8sadmin
private_key_file   = ~/.ssh/k8s_portfolio
host_key_checking  = False
stdout_callback    = yaml
roles_path         = ./roles
retry_files_enabled = False
forks              = 10
timeout            = 30

[ssh_connection]
pipelining         = True
ssh_args           = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
